{% extends 'tms_admin/admin-layout.html' %}
{% load static %}

{% block title %}Task Manage System - Список контрагентов{% endblock %}

{% block style %}
    {{ super }}
    <link rel="stylesheet" href="{% static 'tms_admin/css/additional-styles/input-search.css' %}">
    <link rel="stylesheet" href="{% static 'tms_admin/css/page-styles/counterparties-list.css' %}">
{% endblock %}

{% block main-content %}
<main>
    <div class="right-content">
        <h1>Список контрагентов</h1>
        <div class="date">
            <p id="currentDateTime"></p>
        </div>

        <form method="post" class="search-form">
            {% csrf_token %}
            <input type="search" name="query" placeholder="Поиск по названию Юр. лица..." required>
            <button type="submit">Поиск</button>
        </form>

        {% for counter in counterparty %}
            <div class="counterparty">
                <div class="info">
                    <p class="name">{{ counter.name }}</p>
                    <p class="auto">ИНН: {{ counter.inn }}</p>
                </div>
                <div class="buttons">
                    <form action="{% url 'edit_counterparty' counterparty_id=counter.id %}" method="get">
                        <button class="add-btn">Информация о контрагенте</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
</main>

<!-- SCRIPTS -->
<script src="{% static 'tms_admin/js/current-date.js' %}"></script>
{% endblock %}