{% extends 'tms_admin/admin-layout.html' %}
{% load static %}

{% block title %}Task Manage System - Задачи на день{% endblock %}

{% block style %}
    {{ super }}
    <link rel="stylesheet" href="{% static 'tms_admin/css/additional-styles/page-buttons.css' %}">
    <link rel="stylesheet" href="{% static 'tms_admin/css/additional-styles/calendar-container.css' %}">
    <link rel="stylesheet" href="{% static 'tms_admin/css/additional-styles/tasks-styles.css' %}">
    <link rel="stylesheet" href="{% static 'tms_admin/css/page-styles/tasks-list.css' %}">
{% endblock %}

{% block main-content %}
<main>
    <div class="right-content">
        <h1>Задачи на день</h1>
        <div class="date">
            <p id="currentDateTime"></p>
        </div>

        <div class="buttons">
            <div class="select-task-type">
                <button class="add-task page-btn">📝 Добавить задачу</button>
                <div class="droplist" id="dropdownList">
                    <form action="{% url 'add_text_task' %}" method="get">
                        <button>Текстовая задача</button>
                    </form>
                    
                    <form action="{% url 'add_entry_task' %}" method="get">
                        <button>Машина на въезд</button>
                    </form>
                    
                    <form action="{% url 'add_exit_task' %}" method="get">
                        <button>Машина на выезд</button>
                    </form>
                </div>
            </div>

            <div class="parent-element" style="margin-top: 0px;">
                <button class="calendar-btn" id="calendar-button">🗓️ Выбрать дату</button>
                <div class="calendar-container" id="calendar-container">
                    <input type="date" id="date-picker" value="{{ current_date }}">
                </div>
            </div>
            
            <div class="end-btn">
                <form action="{% url 'completed_tasks' %}" method="get">
                    <button class="end-tasks page-btn">✅ Завершенные сегодня</button>
                </form>
            </div>
        </div>

        {% for task in texttasks %}
            <div class="text-task">
                <h3 class="heading">{{ task.title }}</h3>
                <p class="text-left">{{ task.full_text }}</p>
                <h3 class="text-right">Дата: {{ task.date }}</h3>
                <h3 class="text-right">Время: {{ task.time }}</h3>
                <h3 class="text-right">Автор задачи: {{ task.author.username }}</h3>
                
                <form action="{% url 'edit_text_task' id=task.id %}" method="get">
                    <button class="edit-button">Редактировать</button>
                </form>

                <form action="{% url 'mark_text_task_complete' id=task.id %}" method="post">
                    {% csrf_token %}
                    <button class="exit-success-button">Готово</button>
                </form>
            </div>
        {% endfor %}
                
        {% for task in entrytasks %}
            <div class="entry-task">
                <h3 class="heading">Машина на въезд</h3>
                <h4 class="text-left">Гос.Номер: <span>{{ task.number_auto }}</span></h4>
                <div class="status {% if task.is_allowed %}allowed{% else %}denied{% endif %}">
                    Въезд: {% if task.is_allowed %}Разрешен{% else %}Запрещен{% endif %}
                </div>
                <h4 class="text-left">Марка авто: <span>{{ task.marka_auto }}</span></h4>
                <h4 class="text-left">Название организации: <span>{{ task.name_organization }}</span></h4>
                <h4 class="text-left">Дополнительная информация: <span>{{ task.description }}</span></h4>
                <h4 class="text-right">Время въезда: <span>{{ task.date }} {{ task.time }}</span></h4>
                <h4 class="text-right">Автор задачи: {{ task.author.username }}</h4>

                <form action="{% url 'edit_entry_task' id=task.id %}" method="get">
                    <button class="edit-entry-button">Редактировать</button>
                </form>

                <form action="{% url 'mark_entry_task_complete' id=task.id %}" method="post">
                    {% csrf_token %}
                    <button class="entry-success-button">Въехала</button>
                </form>
            </div>
        {% endfor %}

        {% for task in exittasks %}
            <div class="exit-task">
                <h3 class="heading">Машина на выезд</h3>
                <h4 class="text-left">Гос.Номер: <span>{{ task.number_auto }}</span></h4>
                <div class="status {% if task.is_allowed %}allowed{% else %}denied{% endif %}">
                    Выезд: {% if task.is_allowed %}Разрешен{% else %}Запрещен{% endif %}
                </div>
                <h4 class="text-left">Марка авто: <span>{{ task.marka_auto }}</span></h4>
                <h4 class="text-left">Название организации: <span>{{ task.name_organization }}</span></h4>
                <h4 class="text-left">Дополнительная информация: <span>{{ task.description }}</span></h4>
                <h4 class="text-right">Время выезда: <span>{{ task.date }} {{ task.time }}</span></h4>
                <h4 class="text-right">Автор задачи: {{ task.author.username }}</h4>

                <form action="{% url 'edit_exit_task' id=task.id %}" method="get">
                    <button class="edit-exit-button">Редактировать</button>
                </form>

                <form action="{% url 'mark_exit_task_complete' id=task.id %}" method="post">
                    {% csrf_token %}
                    <button class="exit-success-button">Выехала</button>
                </form>
            </div>
        {% endfor %}
    </div>
</main>

<!-- SCRIPTS -->
<script src="{% static 'tms_admin/js/current-date.js' %}"></script>
<script src="{% static 'tms_admin/js/calendar-container.js' %}"></script>
<script src="{% static 'tms_admin/js/drop-list.js' %}"></script>
{% endblock %}