{% extends 'users/manager/manager-layout.html' %}
{% load static %}

{% block title %}Task Manage System - Добавление контрагента{% endblock %}

{% block style %}
    {{ super }}
    <link rel="stylesheet" href="{% static 'users/css/additional-styles/manager/add-counterparties.css' %}">
{% endblock %}

{% block main-content %}
    <main>
        <div class="right-content">
            <h1>Добавление контрагента</h1>
            <div class="date">
                <p id="currentDateTime"></p>
            </div>

            <div class="add-kontragent-form">
                <form method="post">
                    {% csrf_token %}
                    {{ form.number_auto }}<br>
                    {{ form.description }}<br>
                    <button class="btn-add-task" type="submit">Добавить контрагента</button>
                </form>
            </div>
        </div>
    </main>

<!-- SCRIPTS -->
<script src="{% static 'users/js/current-date.js' %}"></script>
{% endblock %}