{% extends 'users/manager/manager-layout.html' %}
{% load static %}

{% block title %}Task Manage System - Машины на въезд{% endblock %}

{% block style %}
    {{ super }}
    <link rel="stylesheet" href="{% static 'users/css/additional-styles/tasks-styles.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/page-styles/manager/entry.css' %}">
{% endblock %}

{% block main-content %}
    <main>
        <div class="right-content">
            <h1>Машины на въезд</h1>
            <div class="date">
                <p id="currentDateTime"></p>
            </div>

            <div class="buttons">
                <div class="select-task-type">
                    <button class="add-task">📝 Добавить задачу</button>
                    <div class="droplist" id="dropdownList">
                        <form action="{% url 'manager_add_entry_task' %}" method="get">
                            <button>Машина на въезд</button>
                        </form>
                        
                        <form action="{% url 'manager_add_counterparties' %}" method="get">
                            <button>Контрагент</button>
                        </form>
                    </div>
                </div>

                <div class="parent-element">
                    <button class="calendar-btn" id="calendar-button">🗓️ Выбрать дату</button>
                    <div class="calendar-container" id="calendar-container">
                        <input type="date" id="date-picker" value="{{ current_date }}">
                    </div>
                </div>
            </div>

            {% for task in entrytasks %}
                <div class="entry-task">
                    <h3 class="heading">Машина на въезд</h3>
                    <h4 class="text-left">Гос.Номер: <span>{{ task.number_auto }}</span></h4>
                    <div class="status {% if task.is_allowed %}allowed{% else %}denied{% endif %}">
                        Въезд: {% if task.is_allowed %}Разрешен{% else %}Запрещен{% endif %}
                    </div>
                    <h4 class="text-left">Марка авто: <span>{{ task.marka_auto }}</span></h4>
                    <h4 class="text-left">Название организации: <span>{{ task.name_organization }}</span></h4>
                    <h4 class="text-left">Дополнительная информация: <span>{{ task.description }}</span></h4>
                    <h4 class="text-right">Время въезда: <span>{{ task.date }} {{ task.time }}</span></h4>
                    <h4 class="text-right">Автор задачи: {{ task.author.username }}</h4>

                    <form action="{% url 'manager_edit_entry_task' id=task.id %}" method="get">
                        <button class="edit-entry-button">Редактировать</button>
                    </form>
                </div>
            {% endfor %}

            {% for counter in counterparties %}
                <div class="kontragent">
                    <h3 class="heading">Контрагент № {{ counter.id }}</h3>
                    <h4 class="text-left">Гос. Номер авто: <span>{{ counter.number_auto }}</span></h4>
                    <h4 class="text-left">Дополнительная информация: <span>{{ counter.description }}</span></h4>
                    <h4 class="text-right">Время въезда: <span>{{ counter.date_entry }}</span></h4>
                    <h4 class="text-right">Добавил: <span>{{ counter.author }}</span></h4>
                </div>
            {% endfor %}
        </div>
    </main>

<!-- SCRIPTS -->
<script src="{% static 'users/js/current-date.js' %}"></script>
<script src="{% static 'users/js/calendar-container.js' %}"></script>
<script src="{% static 'users/js/drop-list.js' %}"></script>
{% endblock %}